  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style= "padding-left: 50px;">
    <a class="navbar-brand" href="#">
      <img src="https://img.icons8.com/color/512/star-wars.png" width="100" height="100" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="by-person-name" style="color: white; font-weight: bold; font-size: 20px;margin-left: 15px;">Personajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="planets" style="color: white; font-weight: bold;font-size: 20px; margin-left: 15px;">Planetas</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center" style="margin-right: 50px;">
      <input type="text" class="form-control me-2" placeholder="Buscar info..." #search (keypress)="searchStarWarsElement()"><p class="btn btn-outline-warning" (click)="searchStarWarsElement()">Buscar</p>
    </div>
  </nav>